<a href="https://colab.research.google.com/github/MYTHILY7/Data-Analysis-and-Visualization-/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mynumber=3
print(mynumber)
mynumber2=4.5
print(mynumber2)
mychar="heyyyy"
print(mychar)

3
4.5
heyyyy

In [ ]:
myvariable="mythu"
print(myvariable)

mythu

In [ ]:
x,y,z="apple","rasogulla","biryani"
print(x)
print(y)
print(z)
print(x,"\n",y,"\n",z)

apple
rasogulla
biryani
apple
 rasogulla
 biryani

In [ ]:
x='hello'
print(x)

hello

In [ ]:
x,y,z,m='have','a','good','night'
print(x,y,z,m)

have a good night

In [ ]:
colours='blue','black','red'
x,y,z=colours
print(x,"\n",y,"\n",z)

blue
 black
 red

In [ ]:
x="NIGHT CLASS"
y=" IS BORING"
z=x+y
print(z)

NIGHT CLASS IS BORING

In [ ]:
x="the operation product is"
z=333
y=357
m=z*y
print(x)
print(m)

the operation product is
118881

In [ ]:
x=float(345)
y=int(2.99)
z=str("hello")
print(x)
print(y)
print(z)

345.0
2
hello

In [ ]:
#code for disbling the software feature
print('B','I','T',sep='')
#for formatting a date
print('25','05','2004',sep='-')
#another example
print('mythily.ec21','bitsathy.ac.in',sep='@')

BIT
25-05-2004
mythily.ec21@bitsathy.ac.in

In [ ]:
print("heyy idiot",end='**')
print("welcome to sleep zone")

In [ ]:
import math
print(math.factorial(10))

3628800

In [ ]:
name=input("Enter ur name:")
print("Hai d",name)

Enter ur name:mythu
Hai d mythu

In [ ]:
name=input("people who hate engineering graphics:")
print("Ur teammates are",name)

people who hate engineering graphics:jaishree,yogalakshmi
Ur teammates are jaishree,yogalakshmi

In [ ]:
num1=int(input("Enter num1:"))
num2=int(input("Enter num2:"))
num3=num1*num2
print("Product is:",num3)

Enter num1:25
Enter num2:99
Product is: 2475

In [ ]:
num1=input("Enter any no:")
print(num1)
num2=input("Enter any no:")
print(num2)
print("Type of num",type(num1))
print("Type of num",type(num2))

Enter any no:34
34
Enter any no:3.5
3.5
Type of num <class 'str'>
Type of num <class 'str'>

In [ ]:
a,b=input("Enter 2 values:").split(",")
print("No Absent: ",a)
print("no present: ",b)
print()

Enter 2 values:93,39
No Absent:  93
no present:  39

In [ ]:
a=int(input())
b=int(input())
c=int(input())
c=a+b
print("result:",c)
c=a-b
print("result:",c)
c=a*b
print("result:",c)
c=a/b
print("result:",c)

36
73
93
result: 109
result: -37
result: 2628
result: 0.4931506849315068

In [ ]:
x=int(input())
y=int(input())
print("x>y is",x>y)
print("x<y is",x<y)
print("x==y is",x==y)
print("x!=y is",x!=y)
print("x>=y is",x>=y)
print("x<=y is",x<=y)

35
93
x>y is False
x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [ ]:
x=45
y=35
print("x and y is",x and y)
print("x or y is",x or y)
print("not x is",not x)

x and y is 35
x or y is 45
not x is False

In [ ]:
num=3
if num>0:
  print(num,"is a positive num")
  print("this is always printed")
  num1=-56
  if num1>0:
    print(num1,"is a positive num")
    print("this is also always printed")

3 is a positive num
this is always printed

In [ ]:
num=73
if num>=0:
  print("Positive or zero")
else:
    print("Negative num")

Positive or zero

In [ ]:
abc="tuesday"
if abc=="monday":
  print("today is monday")
else:
  print("idk")

idk

In [ ]:
num=3579
if num>0:
  print("positive num")
elif num==0:
  print("zero")
else:
  print("negative num")

positive num

In [ ]:
name=input("enter employee name:")
print(name)
exp=int(input("enter your no of years of experience:"))
print(exp)
sal=int(input("enter your salary:"))
print(sal)
if exp>=5:
  x=sal*5/100;
  sal=sal+x;
  print("u have bonus of",sal)
else:
  print("not eligible")

enter employee name:Mythily
Mythily
enter your no of years of experience:7
7
enter your salary:200000
200000
u have bonus of 210000.0

In [ ]:
num=int(input("enter any number:"))
if num%2==0:
  print("It is an even number")
else:
    print("It is an odd num")

enter any number:37
It is an odd num

In [ ]:
mark1=int(input("enter your mark1:"))
mark2=int(input("enter your mark2:"))
mark3=int(input("enter your mark3:"))
mark4=int(input("enter your mark4:"))
tot=mark1+mark2+mark3+mark4
print("total marks",tot)
percent=tot*(100/400)
print(percent)
if percent>=90:
  print("first class")
else:
  print("fail da")

enter your mark1:100
enter your mark2:90
enter your mark3:60
enter your mark4:80
total marks 330
82.5
fail da

In [ ]:
a=1000
b=300
c=3000
if a>b and c>a:
  print("both conditions are true")
else:
    print("conditions are false")

both conditions are true

In [ ]:
a=200
b=33
c=5
if a>b or a>c:
 print("atleast one of the condition is true")
else:
 print("both conditions are false")

atleast one of the condition is true

In [ ]:
x=13
if x>10:
  print("above ten,")
  if x>20:
    print("and also above 20!")
  else:
      print("but not above 20")

above ten,
but not above 20

In [ ]:
num=input("enter any no:")
num1=input("enter any no:")
num2=input("enter:")
if num==num1 and num1==num2 and num2==num:
  print("enter diff numbers")
else:
 if num>num1 and num1>num2:
  print("1st num is the greatest number")
 elif num1>num2:
    print("2nd num is the greatest num")
 else:
      print("3rd number is the greatest")

enter any no:94657
enter any no:9347856
enter:9348756
3rd number is the greatest

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=2
while i<20:
 print(i)
 i+=2

2
4
6
8
10
12
14
16
18

In [ ]:
i=1
while i<=10:
  print("Mythily")
  i+=1

Mythily
Mythily
Mythily
Mythily
Mythily
Mythily
Mythily
Mythily
Mythily
Mythily

In [ ]:
i=1
sum=0
while (i<=10):
  sum+=i
  i+=1
  print("sum:",sum)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15
sum: 21
sum: 28
sum: 36
sum: 45
sum: 55

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
for x in range(2,11,2):
  print(x)

2
4
6
8
10

In [ ]:
for x in range(1,22,2):
  print(x)

1
3
5
7
9
11
13
15
17
19
21

In [ ]:
for w in range(3,31,3):
   print(w)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(1,22):
  if i%2==1:
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [ ]:
for i in range(3,22):
    print(i)
    if i==4:
     break

3
4

In [ ]:
a="mythily"
for i in a:
  if i=="h":
    continue
  print(i)

m
y
t
i
l
y

In [ ]:
x="***ABC*JR*DW*WE*"
for i in x:
  if i=="*":
    continue
  print(i)

A
B
C
J
R
D
W
W
E

In [ ]:
binlist=["jhdsf",4664,"grhfig%324897932487"]
print(binlist)

['jhdsf', 4664, 'grhfig%324897932487']

In [ ]:
a=["mythily",17,"biryani","tharamythu07@*"]
a.append(7)
a.insert(3,"ece")
a.pop(5)
a.remove("ece")
print(a)

['mythily', 17, 'biryani', 'tharamythu07@*']

In [ ]:
a=["mythily",17,"biryani","tharamythu07@*"]
print(a[::-1])

['tharamythu07@*', 'biryani', 17, 'mythily']

In [ ]:
l=[i for i in range(1,20,2)]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
l=[i for i in range(0,21,2)]
print(l)
print(l[::-1])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [ ]:
t=("haiiiiiiiiiiiiiiiiiiiiiiiiiii",)
print(type(t))

<class 'tuple'>

In [ ]:
t=(3,5,7)
r=("chicken","biryani","icecream")
m=t+r
print(m)
s=t*7
print(s)
d=r*5
print(d)

(3, 5, 7, 'chicken', 'biryani', 'icecream')
(3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7)
('chicken', 'biryani', 'icecream', 'chicken', 'biryani', 'icecream', 'chicken', 'biryani', 'icecream', 'chicken', 'biryani', 'icecream', 'chicken', 'biryani', 'icecream')

In [ ]:
t=(3,"biryani",55893)
t1=list(t)
print(t1)
t1.pop(1)
t1.append("hello")
t=tuple(t1)
print(t)

[3, 'biryani', 55893]
(3, 55893, 'hello')

In [ ]:
s={'heyyyy','evngg'}
print(s)

{'evngg', 'heyyyy'}

In [ ]:
s={1,34,34,1,5,6,7}
print(len(s))

5

In [ ]:
s.add("orange")
print(s)

{1, 34, 'orange', 5, 6, 7}

In [ ]:
m={3,5,7,'sleep','songs'}
t={9,'food','series'}
m.update(t)
print(m)

{3, 5, 7, 9, 'songs', 'food', 'series', 'sleep'}

In [ ]:
s={'studies','classes'}
s.remove('studies')
print(s)

{'classes'}

In [ ]:
x=[i for i in range(0,21,2)]
print (x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
integer_list = list(map(int, input().split()))

32 545 34 435

In [ ]:
l= input("Enter a list element separated by space ")
list  =l.split()

Enter a list element separated by space 35 79 hello evngg

In [ ]:
l = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
            ele = int(input())
            l.append(ele)
print(l)

Enter number of elements : 4
3456
1276
654
690
[3456, 1276, 654, 690]

In [ ]:
s={10,21,30,40}
l=[i for i in range(0,50,5)]
print(l)
l=set(l)
s.update(l)
print(s)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
{0, 35, 5, 40, 10, 45, 15, 20, 21, 25, 30}

In [ ]:
d={"colour":"blue","hey":"black","helo":"red"}
print(d["colour"])

blue

In [ ]:
f={'hey':'gud morning','what':'gud night',4:'gud evng'}
print(f['hey'])
print(f.items())
print(f.values())

gud morning
dict_items([('hey', 'gud morning'), ('what', 'gud night'), (4, 'gud evng')])
dict_values(['gud morning', 'gud night', 'gud evng'])

In [ ]:
f={'hey':'gud morning','what':'gud night',4:'gud evng'}
print(f['hey'])

gud morning

In [ ]:
home=int(input("enter no  of days to go home:"))
if home<=3:
  print('yayyyy')
else:
  print('nahhhh')

enter no  of days to go home:8
nahhhh

In [ ]:
d={1:'ooty',2:'coimbatore',3:'hostel'}
print(d[1])
print(d.items())
print(d.values())
y=d.get(1)
print(y)
y=d[4]='sleep'
print(y)
y=d[5]='class'
print(y)
print(list(d))
print(tuple(d))

ooty
dict_items([(1, 'ooty'), (2, 'coimbatore'), (3, 'hostel')])
dict_values(['ooty', 'coimbatore', 'hostel'])
ooty
sleep
class
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [ ]:
def num(a,b,c,d,e):
   print(a+b+c+d+e)
num(1,2,3,4,5)

15

In [ ]:
def hloo(**name):
  print("My last name is:",name["lname"])
hloo(fname="Mythily",lname="Manoharan")

My last name is: Manoharan

In [ ]:
def prime(x):
 for i in range(2,x):
   if x%i==0:
     return 0
   return 1
v=int(input("Enter a number:"))
s=prime(v)
if s==1:
  print("Prime")
else:
  print("Not Prime")

Enter a number:7
Prime

In [ ]:
def recur(k):
  if(k>0):
    result=k+recur(k-1)
    return result
  else:
      result=0
  return result
n=int(input("enter a number:"))
print("\nSum of natural nos until n:")
res=recur(n)
print(res)

enter a number:6

Sum of natural nos until n:
21